<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburguesa Express 22/9/2024</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Hamburgueseria.css">
</head>

<body>

    <header>
        <nav>
            <ul>
                <li id="primero"><a href="#hamburguesa">Inicio</a></li>
                <li><a href="#novedades">Novedades</a></li>
                <li><a href="#testimonios">Testimonios</a></li>
                <li><a href="#historia">Nosotros</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#mapa">Cómo llegar</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>Diseñado por: Nahuel Rojas</footer>


</body>

</html>